{% extends "base/base.html" %}
{% load staticfiles %}
{% block titulo %}
Nosotros
{%endblock%}



{% block contenido%}
<div class="jumbotron">
  <h1 class="display-3">Que Somos?,Somos <b>HIGH DELUXE</b>!</h1>
  <p class="lead">Hola somos una tienda en linea!.</p>
  <hr class="my-4">
  <p>Somos un grupo de vendedores novatos que intentamos promocionar nuestra tienda,
      que le intentamos ofrecer nuestra variedad de productos de calidad deluxe.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Mas sobre nosotros</a>
  </p>
</div>
{% endblock %}